<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Task category {@task_category.id}
    <:subtitle>Use this form to manage task_category records in your database.</:subtitle>
  </.header>

  <.task_category_form
    changeset={@changeset}
    action={~p"/task_categories/#{@task_category}"}
    return_to={~p"/task_categories"}
  />
</Layouts.app>
