<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Task "{@task.name}"
    <:subtitle>Use this form to manage task records in your database.</:subtitle>
  </.header>

  <.task_form changeset={@changeset} action={~p"/tasks/#{@task}"} return_to={~p"/tasks"} states={@states} categories={@categories}/>
</Layouts.app>
