<Layouts.app flash={@flash} current_scope={@current_scope} conn={@conn}>
  <.header>
    New Task category
    <:subtitle>Use this form to manage category records in your database.</:subtitle>
  </.header>

  <.category_form
    changeset={@changeset}
    action={~p"/categories"}
    return_to={~p"/categories"}
  />
</Layouts.app>
