<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    New Task state
    <:subtitle>Use this form to manage task_state records in your database.</:subtitle>
  </.header>

  <.task_state_form changeset={@changeset} action={~p"/task_states"} return_to={~p"/task_states"} />
</Layouts.app>
